input, select, td, th { padding: 10px; }

/* tabelle */
table { border-collapse: collapse; }
tr:not(:first-child):hover { background: #00FFFF; }

/* breite von select und input wird anders berechnet */
input[type=text] { width: 150px; }
input[type=submit], input[type=button], select { width: 174px; }

.bt {
	color: blue;
	cursor: pointer;
}

.fileName {
	display: block;
	font-style: italic;
}

.hidden {
	display: none;
	visibility: hidden;
}

/* formulare */
form {
	position: fixed;
	right: 0;
	top: 0;
	padding: 10px;
	background: white;
	
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-bottom-left-radius: 10px;
}
form input {
	display: block;
}

/* layout */
body {
	margin-top: 50px;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: #555555;
}
#header h1 {
	padding: 0;
	margin: 0 10px;
	line-height: 50px;
	color: #FFFFFF;
}

#footer{
	position:fixed;
	bottom:0;
	right:0;
	padding:5px;
}