input, select, td, th { padding: 10px; }

/* breite von select und input wird anders berechnet */
input[type=text] { width: 150px; }
input[type=submit], input[type=button], select { width: 174px; }

.bt {
	color: blue;
	cursor: pointer;
}

.hidden {
	display: none;
	visibility: hidden;
}