input, select, td, th { padding: 10px; }

table { border-collapse: collapse; }
tr:not(:first-child):hover { background: #00FFFF; }

/* breite von select und input wird anders berechnet */
input[type=text] { width: 150px; }
input[type=submit], input[type=button], select { width: 174px; }

.bt {
	color: blue;
	cursor: pointer;
}

.fileName {
	display: block;
	font-style: italic;
}

.hidden {
	display: none;
	visibility: hidden;
}

form {
	position: fixed;
	right: 0;
	top: 0;
	padding: 10px;
	background: white;
	
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-bottom-left-radius: 10px;
}
form input {
	display: block;
}